$grey: #2c3a47;
$green: #58b19f;
$yellow: #eab543;
$red: #fc427b;
$purple: #82589f;
$blue: #1b9cfc;
$beige: #fcfcfc;
$white: #ffffff;

$mq-breakpoints: (
  mobile: 320px,
  tablet: 740px,
  desktop: 980px,
  wide: 1300px,
);

@import url("https://unpkg.com/normalize.css@7.0.0/normalize.css");
@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import url("https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css");
@import url("https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap");
@import "~sass-mq";
@import "~rfs/scss";

html {
  background-color: $beige;
}

body {
  font-family: "Oxygen", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  max-width: 90%;
}

.full-height {
  min-height: 100vh;
}

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;

  &--orange {
    background-image: url("https://instagram.flim2-1.fna.fbcdn.net/v/t51.2885-15/e35/22159077_2366127816944678_5920820732039790592_n.jpg?_nc_ht=instagram.flim2-1.fna.fbcdn.net&_nc_cat=102&_nc_ohc=JQgrT7obtVsAX-Bu4ZI&oh=c7f878ccff634a2e584669d8ad2d9b75&oe=5EAA47E8");
  }

  &--blue {
    background-image: url("https://instagram.flim2-1.fna.fbcdn.net/v/t51.2885-15/e35/30842016_242475936325430_4894569018561658880_n.jpg?_nc_ht=instagram.flim2-1.fna.fbcdn.net&_nc_cat=102&_nc_ohc=ygI--Z1B7wAAX8ALavq&oh=8bcff1d03f3d75636aeeb0db6f01e0d2&oe=5EBAE3AB");
  }

  &--green {
    background-image: url("https://instagram.flim2-1.fna.fbcdn.net/v/t51.2885-15/e35/31297509_1329776247166685_5936679585247657984_n.jpg?_nc_ht=instagram.flim2-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=U5l9kdp6iX0AX82seYa&oh=b5b3bccf3529821664ba1cf026902ef6&oe=5ED52E4E");
  }
}

.flex-aic {
  align-items: center;
}

.flex-jcc {
  justify-content: center;
}

.button {
  background-color: rgba($grey, 0.25);
  color: $white;
  font-size: 24px;
  transition: all 0.1s ease-in 0s;

  &:hover {
    color: $white;
  }

  & + & {
    margin-left: 20px;
  }

  &.playing {
    transform: scale(1.1);
    border-color: $yellow;
    box-shadow: 0 0 10px 1px $yellow;
    z-index: 2;
  }
}

.go-back {
  @include font-size(1.8rem);
  position: fixed;
  color: $white;
  padding: 10px 15px;
  transition: transform 0.3s linear 0s;
  z-index: 100;
  bottom: 0;
  left: 0;

  @include mq($from: tablet) {
    @include font-size(1.2rem);
    top: 0;
    bottom: auto;
  }

  &[aria-current="page"] {
    display: none;
  }

  &:hover {
    color: $white;
    transform: translateX(-5px);
  }
}

.clock {
  border: 1vh solid $white;
  border-radius: 50%;
  width: 75vw;
  height: 75vw;
  position: relative;
  background-color: rgba($blue, 0.5);

  @include mq($from: tablet) {
    width: 75vh;
    height: 75vh;
  }

  .hand {
    position: absolute;
    right: 50%;
    border-radius: 4px;
    box-shadow: 1px 2px 10px 1px rgba($grey, 0.5);
    background-color: $white;
    transform-origin: 100%;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    transition-delay: 0s;
    transition-duration: 0.05s;
    transition-property: transform;

    &__hour {
      height: 1vh;
      width: 35%;
      bottom: calc(50% - 0.5vh);
      z-index: 3;
    }

    &__minute {
      height: 0.6vh;
      width: 45%;
      bottom: calc(50% - 0.3vh);
      z-index: 2;
    }

    &__second {
      height: 0.2vh;
      width: 45%;
      bottom: calc(50% - 0.1vh);
      background-color: $red;
      z-index: 1;
    }
  }
}
